<div class="container">
    <div class="logo">
        Flow-<span>flix</span>
    </div>
</div>
<div class="contain">
    <div class="form">
        <div class="input">
            <label for="">Titre du film:</label>
            <input type="text">
        </div>
        <div class="input">
            <label for="">Choisissez le genre:</label>
            <select>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
                <option>Option 5</option>
              </select>
        </div>
        <div class="input">
            <label for="">Le film est disponible sur:</label>
            <select>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
                <option>Option 5</option>
            </select>
        </div>
        <div class="input">
            <label for="">Ajouter le lien vers le film:</label>
            <input type="text">
        </div>
        <div class="extraits">
            
        </div>
        <div class="valid">
            <div class="btn">
                <input type="file" name="" id="">
            </div>
            <div class="valider">
                <button>valider</button>
            </div>
        </div>
    </div>
</div>