<div class="container">
    <div class="genre">
        <div class="logo">
            Flow-<span>flix</span>
        </div>
        <div class="itemnav">
            <span style="font-size: 1.6rem; font-weight: bold;margin-top: 10px;">
                Genre:
            </span>
            <div class="box">
                <select>
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                  <option>Option 4</option>
                  <option>Option 5</option>
                </select>
            </div>
            <div class="movie-add">
                Ajouter un extrait
                <i class="material-icons">movie-creation</i>
            </div>
            
        </div>
    </div>
    <div class="cont">
        <div class="video">
            <video controls autoplay>
                <source src="../../../assets/Video_23-05-04_19-45-12.mov">
            </video>
        </div>
        <div class="desc">
            <div class="titre">
                Vous regardez <span>Mathilda</span>
            </div>
            <div class="lorem">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut natus quas, itaque magnam porro odit dicta dolorem maxime ipsum sunt iusto ducimus, iste maiores. Natus consequatur quod minima sunt totam.
            </div>
            <div class="dispo">
                Disponible sur <span>Netflix</span>
            </div>
           <div class="btn">
                <button>Voir film complet</button>
           </div>
            <div class="trait"></div>
            <div class="liste">
                Liste d'extraits pour ce film
                <div class="videos">
                    <video  src="../../../assets/Video_23-05-04_19-45-12.mov">
                    </video>
                    <video  src="../../../assets/Video_23-05-04_02-02-58.mov">
                    </video>
                    <video  src="../../../assets/Video_23-05-04_19-45-12.mov">
                    </video>
                    <video  src="../../../assets/Video_23-05-04_02-02-58.mov">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>