
  <div class="menu-left">
    <div class="logo">
      <h3>Khalifa gueye</h3>
    </div>
    <div class="menu-item">
      <div>
        <i class="material-icons">home</i>
        <h5>Accueil</h5>
      </div>
      <div>
        <i class="material-icons">person</i>
        <h5>Profil</h5>
      </div>
      <button class="btn waves-effect waves-light icon">
        <i class="material-icons right">add</i>
        Ajouter un extrait
      </button>
      <button class="btn waves-effect waves-light" (click)="goToAddVideo()">
        <i class="material-icons right">camera</i>
        Ajouter un film
      </button>
    </div>
  </div>
