<div class="container">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><span class="flix">FLIX</span>Community</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
        <li><a class="waves-effect waves-light btn">Se connecter</a></li>
      </ul>
    </div>
  </nav>
  <div class="text-title">
    Découvrez les moments forts du cinéma, sélectionnés avec amour par notre communauté
    <a class="waves-effect waves-light btn"><i class="material-icons right">arrow_forward</i>Voir plus</a>
  </div>
  <div class="global">
    <div class="art">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="./assets/images/film-g35dc22c68_1280.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Une communauté cinéphile<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">C'est nous!<i class="material-icons right">close</i></span>
          <p>Partagez votre passion pour le cinéma avec notre communauté approuvée et découvrez les extraits les plus mémorables du 7ème art, choisis avec soin par des cinéphiles comme vous.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="./assets/images/movie-theater-g50670461c_1280.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Vous hésitez sur quel(le) film ou série regarder ?<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Envie de regarder un film ?<i class="material-icons right">close</i></span>
          <p>Découvrez les moments forts du cinéma, partagés par des passionnés approuvés, et laissez-vous inspirer pour votre prochaine séance.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="titre">
      <h1>Qui sommes-nous ?</h1>
    </div>
    <div class="identite">
      <div class="img">
        <img src="./assets/images/woman-ge05ac3cc9_1280.jpg" alt="">
      </div>
      <div class="item">
        <h2>Une histoire commune</h2>
        Notre site est un espace de partage cinématographique unique, où les passionnés de cinéma peuvent se
        connecter, partager et découvrir des moments forts du septième art. Nous offrons une plateforme interactive où
        les utilisateurs agréés peuvent soumettre leurs propres extraits de films, soigneusement sélectionnés et
        approuvés par notre communauté de cinéphiles. Plongez dans un monde de séquences captivantes, de scènes
        émouvantes et d'instants mémorables, tous apportés par des amateurs passionnés. Explorez notre collection
        croissante d'extraits de films variés, issus de différents genres, époques et cultures cinématographiques.
      </div>
    </div>
    <div class="identite">
      <div class="item">
        <h2>Une histoire de passion</h2>
        Que vous soyez à la recherche d'un aperçu avant de choisir un film, d'une dose de nostalgie ou simplement
        d'une inspiration cinématographique, notre site est là pour vous guider à travers les moments les plus
        marquants du cinéma, partagés par ceux qui partagent votre amour pour l'art cinématographique.
        Rejoignez notre communauté, échangez vos recommandations et embarquez pour une expérience cinématographique
        collaborative unique en son genre.
      </div>
      <div class="img">
        <img src="./assets/images/hd-wallpaper-g4d6d403e0_1280.jpg" alt="">
      </div>
    </div>

  </div>
</div>
